{{ happyview_hostname }} {
    handle {{ happyview_base_path | default('/hv') }} {
        redir {{ happyview_base_path | default('/hv') }}/ permanent
    }
    handle {{ happyview_base_path | default('/hv') }}/* {
        reverse_proxy happyview:3000
    }
    handle /xrpc/* {
        uri prefix {{ happyview_base_path | default('/hv') }}
        reverse_proxy happyview:3000
    }

    handle {
        reverse_proxy docs:3001
    }
}

{{ cartridge_api_hostname }} {
    reverse_proxy happyview:3000
}
