DATABASE_URL=postgres://{{ postgres_user }}:{{ postgres_password }}@postgres:5432/{{ postgres_db }}
PUBLIC_URL={{ happyview_public_url }}
SESSION_SECRET={{ happyview_session_secret }}
JETSTREAM_URL={{ happyview_jetstream_url }}
RELAY_URL={{ happyview_relay_url }}
EVENT_LOG_RETENTION_DAYS={{ happyview_event_log_retention_days }}
{% if happyview_token_encryption_key is defined and happyview_token_encryption_key %}
TOKEN_ENCRYPTION_KEY={{ happyview_token_encryption_key }}
{% endif %}
{% if happyview_meilisearch_url is defined and happyview_meilisearch_url %}
MEILISEARCH_URL={{ happyview_meilisearch_url }}
{% endif %}
{% if happyview_meilisearch_api_key is defined and happyview_meilisearch_api_key %}
MEILISEARCH_API_KEY={{ happyview_meilisearch_api_key }}
{% endif %}
