[defaults]
inventory = inventory.yml
remote_user = root
host_key_checking = false
vault_identity_list = default@.vault-pass, moderation@.vault-pass-moderation
vault_encrypt_identity = default
roles_path = roles
stdout_callback = default

[ssh_connection]
pipelining = true
