[Unit]
Description=Tranquil PDS (kart.sh)
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{ kart_pds_data_dir }}
ExecStart=/usr/bin/docker compose --file {{ kart_pds_data_dir }}/docker-compose.yml up
ExecStop=/usr/bin/docker compose --file {{ kart_pds_data_dir }}/docker-compose.yml down
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
